extends ../layouts/common.pug


block content
    h1 View User
        img(src= viewUser.avatar, width="62")

    p
        b Name: &nbsp
        span= viewUser.name
    p
        b Phone: &nbsp
        span= viewUser.phone
